<div class="row">
    <div class="col-lg-4 ml-auto">
      <p class="pre-wrap lead">
          Hello, I am Bhuvnesh a computer engineer with love for data and data-driven technologies from Rajasthan India and at present pursuing Master Degree course in Data Science.

          I love learning new technology and apply them to solve real-life problems, My mission is to lean and share my learnings with the world and create a one-stop-shop for all data science-related posts.
          
          Till now, I have worked on following technologies:
          - Python
          - Java
          - C#
          - HTML
          - CSS
      </p>
    </div>
    <div class="col-lg-4 mr-auto">
      <p class="pre-wrap lead">
          Looking forward to leaning, acquire and work on following technologies:

          - AI (Artificial Intetelligence)
          - ML (Machine Learning)
          - Big Data Analysis
          
          The objective/purpose of this website is to update my readers with my following details:
          • My learnings & Projects (Code with Details Explanation)
          • Data Blogs: which will make you data-savvy.
          • Data science update include Industry news, Reference articles.
          
          Stay Tune for updates….
      </p>
    </div>
  </div>